                                   <!-- Table 'outdata' edit -->

[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- DID (varchar) -->

	 <ul class="nav nav-tabs">

<li [#if TAB=="" || TAB=="devcount" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=indata_edit&id=[#ID#]&tab=devcount"><span class="glyphicon glyphicon-list-alt"></span>Показания</a></li>
<li [#if TAB=="devparam" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=indata_edit&id=[#ID#]&tab=devparam"><span class="glyphicon glyphicon-cog"></span> Настройки счетчика</a></li>
</ul>

<br>

<!------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------>

[#if TAB="devcount"|| TAB=""#] 

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">

<table>
<tr>
<td>
<div class="form-group">
 <label class="col-lg-3 control-label">
   Номер счетчика 1:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="n1" value="[#N1#]" id="n1"> 
</div> 
</div>
</td>

<td>
<div class="form-group">
 <label class="col-lg-3 control-label">
   Показания счетчика 2:<br>
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="t2" value="[#Total2#]" id="t2"> 
</div> 
</div>
</td>
</tr>

<tr>
<td>
<div class="form-group">
 <label class="col-lg-3 control-label">
   Номер   счетчика 2:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="n1" value="[#N2#]" id="n1"> 
</div> 
</div>
</td>

<td>
<div class="form-group">
 <label class="col-lg-3 control-label">
   Показания  счетчика 2:<br>
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="t2" value="[#Total2#]" id="t2"> 
</div> 
</div>

</td>
</tr>
<tr> 
<td align="right">

 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary">Сохранить номера счетчиков</button>
 [#else ID#]
<!-- <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button> -->
 [#endif ID#]


<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="updatecounters">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">



</td><td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="?data_source=<#DATA_SOURCE#>&view_mode=indata_edit&id=[#ID#]&tab=savedevcnt" class="btn btn-primary">Сохранить показания в контроллер</a>
&nbsp;&nbsp;



</td>
</tr>
<tr><td></td><td>
<br>
<left> <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_CANCEL#></a></left>
</td></tr>
</table>







</fieldset>
</form>



[#endif#]


<!------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------>

[#if TAB="devparam"#] 
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<table>
<tr><td></tr></tr>
</table>



<div class="form-group">
 <label class="col-lg-3 control-label">
   TITLE:(*)
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"> 
<small><small>Наприер "Счетчик на кухне" </small></small>
</div> 
</div>


<div class="form-group">
 <label class="col-lg-3 control-label">
IP-адрес ESPCounter: </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="ipaddr" value="[#IPADDR#]" id="ipaddr">
<small>IP адрес контроллера ESPCount в формате 192.168.1.X</small></small>
</div>

</div>


<div class="form-group">
 <label class="col-lg-3 control-label">
   Делитель 1:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="d1" value="[#D1#]" id="d1"> 
<small>Цена деления (например, для счетчика воды – это вес импульса, как правило 10 литров/имп., для
электросчетчика – это передаточное число имп./кВт*ч).</small></small>
</div> 


</div>

<div class="form-group">
 <label class="col-lg-3 control-label">
   Делитель 2:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="d2" value="[#D2#]" id="d2"> 
<small>Цена деления (например, для счетчика воды – это вес импульса, как правило 10 литров/имп., для
электросчетчика – это передаточное число имп./кВт*ч).</small></small>
</div> 
</div>








<!-- LINKED_OBJECT (varchar) -->

<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_CANCEL#></a>

<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="updatedevices">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
</div>


</fieldset>
</form>


[#endif#]
