<div>
<style>
.raz {
  border-spacing: 12.5em 1.3em; /* border-collapse наследуется, применяется только к table или inline-table элементам с border-collapse: separate; */ 
}
.raz,
.raz td {
  border: 0px solid red;
padding: .3em 1em
}
</style>




<img src="../img/modules/camshoter.png"   ></a> &nbsp;&nbsp; &nbsp;&nbsp;


 &nbsp; 
</div>

[#if VIEW_MODE=""#]		


	 <ul class="nav nav-tabs">

<br>
<li [#if TAB=="" || TAB=="config" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=config"><span class="glyphicon glyphicon-list-alt"></span> Счетчики</a></li>
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=&tab=help"><span class="glyphicon glyphicon-info-sign"></span> Помощь</a> </li>	
</ul>
[#endif#]


[#if TAB="config"|| TAB=""|| TAB="devparam" || TAB="devcount"#] [#inc indata.html#] [#endif#]

[#if TAB="debug"#]
<br>
Degug:
<div>
[#MSG_DEBUG#]

</div>

 [#endif#]

[#if TAB="param"#]
<br>

<table class="raz">
<tr><td>
 [#module name="settings"  action="admin"  filter_name="appmercury"#]
</td><td>
<img src="../img/modules/[#MODEL#].png"  align="right" > 
</td></tr></table>




 [#endif#]


[#if TAB="help"#] [#inc help.html#] [#endif#]
