<div>
<style>
.raz {
  border-spacing: 12.5em 1.3em; /* border-collapse наследуется, применяется только к table или inline-table элементам с border-collapse: separate; */ 
}
.raz,
.raz td {
  border: 0px solid red;
padding: .3em 1em
}
</style>



<a href="?view_mode=home">
<img src="../img/modules/camshoter.png"  width="100"  ></a> &nbsp;&nbsp; &nbsp;&nbsp;


 &nbsp; 
</div>

[#if VIEW_MODE=""#]		


	 <ul class="nav nav-tabs">

<br>
<li [#if TAB=="" || TAB=="config" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=config"><span class="glyphicon glyphicon-list-alt"></span> Камеры</a></li>
<li [#if TAB=="preview" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=preview"><span class="glyphicon glyphicon-list-alt"></span> Просмотр</a></li>
<li [#if TAB=="users" #] class="active" [#endif#]><a href="?view_mode=&tab=users"><span class="glyphicon glyphicon-cog"></span> Пользователи</a> </li>	
<li [#if TAB=="faces" #] class="active" [#endif#]><a href="?view_mode=&tab=faces"><span class="glyphicon glyphicon-cog"></span> Лица</a> </li>	
<li [#if TAB=="settings" #] class="active" [#endif#]><a href="?view_mode=&tab=settings"><span class="glyphicon glyphicon-cog"></span> Настройки</a> </li>	
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=&tab=help"><span class="glyphicon glyphicon-info-sign"></span> Помощь</a> </li>	
</ul>
[#endif#]


[#if TAB="config"|| TAB=""|| TAB="devparam" || TAB="devcount"#] [#inc indata.html#] [#endif#]


[#if TAB="help"#] [#inc help.html#] [#endif#]
[#if TAB="settings"#] [#inc settings.html#] [#endif#]
[#if TAB="users"#] [#inc users.html#] [#endif#]
[#if TAB="faces"#] [#inc faces.html#] [#endif#]
[#if TAB="preview"#] [#inc faces.html#] [#endif#]
