<br>

<!--<a href="?view_mode=clearcpu" class="btn btn-default" title="Clear Folder">Clear CPU</i></a> -->
<!--
<style>
#container {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}
</style>
-->
<!--
<script src="highcharts\highcharts.js"></script>
<script src="highcharts\exporting.js"></script>
<script src="highcharts\export-data.js"></script>
-->


<script src="<#ROOTHTML#>3rdparty/highcharts/camshoter/highcharts.js"></script>
<script src="<#ROOTHTML#>3rdparty/highcharts/camshoter/exporting.js"></script>
<script src="<#ROOTHTML#>3rdparty/highcharts/camshoter/export-data.js"></script>

<!--
<script src="<#ROOTHTML#>3rdparty/highcharts/modules/solid-gauge.js"></script>
<script src="<#ROOTHTML#>3rdparty/highcharts/highcharts-more.js"></script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
-->


<div id="container"></div>




<script type="text/javascript">

/*


Highcharts.chart('container', {
  chart: {
    type: 'spline',
//    type: 'area',

    animation: Highcharts.svg, // don't animate in old IE
    marginRight: 10,
    zoomType: 'xy',
    events: {
      load: function () {
        // set up the updating of the chart each second
        var series = this.series[0];
        setInterval(function () {
          var x = (new Date()).getTime(), // current time
//            y = Math.random();
//       y = 2;
              y = getcpu();
              y2=2;
///              alert(y);
          series.addPoint([x, y], true, true);
        }, 1000);
   
     
/*
var series1 = this.series[1];
        setInterval(function () {
          var x = (new Date()).getTime(), // current time
//            y = Math.random();
///       y = 2;
//              y = getcpu();
              y2=2;
///              alert(y);
          series.addPoint([x, y2], true, true);
        }, 1000);

*/
/*
      
}     }   




  },

chart2: {
    type: 'spline',
//    type: 'area',

    animation: Highcharts.svg, // don't animate in old IE
    marginRight: 10,
    zoomType: 'xy',
    events: {
      load: function () {
        // set up the updating of the chart each second
        var series = this.series[1];
        setInterval(function () {
          var x = (new Date()).getTime(), // current time
//            y = Math.random();
       y = 20;
//              y = getcpu();
///              alert(y);
          series.addPoint([x, y], true, true);
        }, 1000);
      }
     }


  }
,

  time: {
    useUTC: false
  },

  title: {    text: 'Cpu load and average'  },
  xAxis: {
    type: 'datetime',
    tickPixelInterval: 1
//,   minRange: 30000
,minTickInterval: 1
//,minPadding:300
  },
  yAxis: {
    title: {
      text: '%'
    },
    min: 0,
//minTickInterval: 1,
//    max: 50-100,


    plotLines: [{
      value: 0,
      width: 2,
      color: '#808080'
    }


]
  },
  
//  tooltip: {
//    headerFormat: '<b>{series.name}</b><br/>',
//    pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
//  },
  legend: {
    enabled: false
  },
  exporting: {
    enabled: false
  },

 plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },

  series: [{
    name: 'CPU load',
    data: (function () {
      // generate an array of random data
      var data = [],
        time = (new Date()).getTime(),
        i;

      for (i = -19; i <= 0; i += 1) {
        data.push({
//          x: time + i * 1000,
            x: time + i *1000,
//          y: Math.random()
//            y: getcpu();
        });
      }
      return data;
    }())
  }

,
//{   name: 'CPU average',   data: [20, 21, 22]  }

{
name: 'CPU average',
    data: (function () {
      // generate an array of random data
      var data = [],
        time = (new Date()).getTime(),
        i;

      for (i = -19; i <= 0; i += 1) {
        data.push({
//          x: time + i * 1000,
            x: time + i *1000,
            y: Math.random()
//          y: 20;

//            y: getcpu();
        });
      }
      return data;
    }())

  }




]
}



);
*/

$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#container').highcharts({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'spline',
//                width: 1400,
//                height: 800,
                events: {
                    load: function () {
                        var series = this.series[0],
                            ser2 = this.series[1],
                        shift = 0;

                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
//                                y = Math.random();
			    y= getcpu();
			    y2= getavg()*10;
//			    y2= getavg();
                            series.addPoint([x, y], false, shift>20);
//                            ser2.addPoint([x, y+0.5], true, shift>20);
                            ser2.addPoint([x, y2], true, shift>20);
                            shift++;
                        }, 1000);
                    }
                }
            },
            title: {
                text: 'Cpu usage and average'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
//,
//                maxZoom: 20 * 1000
//                maxZoom: 20 * 100
            },
            yAxis: {
//                minPadding: 0.2,
//                maxPadding: 0.2,
    min: -10,
//    max: 100,
                title: {
                    text: 'Cpu usage and average'
//,                    margin: 80
                }
            },
            series: [{
                name: 'Cpu usage',
                data: []
            }, {
                name: 'Average*10',
                data: []
            }]
        });
    });
});





    function viewlog() {

        var url="/ajax/camshoter.html?op=htop";

        $.ajax({
            url: url,
            cache: false,
            success: function(html){
                $("#auth_log").html(html);
            }
        });
  logTimer = window.setTimeout('viewlog();',4000);

}
   viewlog();

  function getcpu() {
 var retVal;
    $.ajax({
        url:"/ajax/camshoter.html?op=cpu",
        async: false,
        success:function(response) {
            retVal = response;
        }
    });
    return Number(retVal);
}

  function getavg() {
 var retVal;
    $.ajax({
        url:"/ajax/camshoter.html?op=average",
        async: false,
        success:function(response) {
            retVal = response;
        }
    });
    return Number(retVal);
}


    
</script>
<!--<div class="modal fade" id="viewlog" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true" height="100"> -->
<div  id="viewlog" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true" height="200"> 
<div>
<p  id="auth_log" >    </p>
</div></div>





    <p  id="auth_log" >    </p>
    </div>
    </div>



<!--   <a onclick="viewlog('[#FN#]')" class="btn btn-default"  data-toggle="modal" data-target="#viewlog"  title="View"><i class="glyphicon glyphicon-film"></i></a> -->


