
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- DID (varchar) -->

	 <ul class="nav nav-tabs">
<li [#ifTAB=="devcount" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=indata_edit&id=[#ID#]&tab=devcount"><span class="glyphicon glyphicon-list-alt"></span> Снапшоты</a></li>
<li [#if  TAB=="" || TAB=="devparam" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=indata_edit&id=[#ID#]&tab=devparam"><span class="glyphicon glyphicon-cog"></span> Настройки</a></li>


</ul>

<br>

<!------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------>



<!------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------>

[#if TAB="devparam"#] 
[#inc devparam.html#] 
[#endif#]
	


[#if TAB="devcount"|| TAB=""#] 
[#inc shoters.html#] 

[#endif#]

