<br/>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

<table width=90% border=0>
 <tr><td>

Mail.ru vision token:
<input type="text" class="form-control" name="vision_token" value="[#VISION_TOKEN#]" id="vision_token">

 </td></tr>
<tr>
<td>
 <div class="form-actions" align="left">
<button type="submit" name="subm" value="Submit" class="btn btn-primary">Сохранить</button>

<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="settings">
 </div>
 </td></tr></table>

</fieldset>
</form>
