<b>Снапшоты с "[#TITLE#]"</b>
   <a href="?view_mode=clearfolder&id=[#ID#]&tab=" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Clear Folder">Clear Folder</i></a>

[#ARCDATES#]

<select name="arcdate" class="form-control" style="width: 350px;" align="left">
<!--  <option value=""><#LANG_SELECT#> -->



[#begin ARCDATES#]
<option value="[#DATE#]"[#if SELECTED#] selected[#endif#]>[#DATE#]
[#end ARCDATES#]
 </select>




[#begin FILES#]
<a rel="simplebox" href="../cms/cached/nvr/[#FILE#]" title='../cms/cached/nvr/[#FILE#]' >
<img src="../cms/cached/nvr/[#FILE#]" width="30%"  ></a> 
[#end FILES#]
