[#if ACTION=""#]<br>[#endif#]

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<table border=0><tr><td>
Снапшоты с "[#TITLE#]" за [#ARCDATE#] ([#METHOD#] )
</td><td>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td align="left">
<select name="arcdate" class="form-control" style="width: 200px;[#if "<#SETTINGS_THEME#>"=="dark"&& ACTION=""#]background-color : grey;color:white[#endif#]" align="left">
<!--  <option value=""><#LANG_SELECT#> -->

[#begin ARCDATES#]
<!--<option value="[#DATE#]"[#if SELECTED#] selected[#endif#]>[#DATE#]-->

<option value="[#DATE#]"[#if DATE="<#ARCDATE#>"#] selected[#endif#]>[#DATE#]
[#end ARCDATES#]
 </select>
</td><td>
 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; размер миниатюры:</td><td>
[#FILES.SIZETHMB#]

<select name="sizethmb" class="form-control" style="width: 150px;
[#if "<#SETTINGS_THEME#>"=="dark"&& ACTION=""#]background-color : grey;color:white[#endif#]" align="left">
<option[#if SIZETHMB="500"#] selected[#endif#]>500
<option[#if SIZETHMB="400"#] selected[#endif#]>400
<option[#if SIZETHMB="300"#] selected[#endif#]>300
<option[#if SIZETHMB="200"#] selected[#endif#]>200
<option[#if SIZETHMB="150"#] selected[#endif#]>150
<option[#if SIZETHMB="100"#] selected[#endif#]>100
<option[#if SIZETHMB="50"#]  selected[#endif#]>50
</select>

</td><td>       &nbsp;  &nbsp;  &nbsp; 
<button type="submit" name="subm" value="Submit" class="btn btn-primary">Применить</button>
<input type="hidden" name="view_mode" value="indata_edit">	
<input type="hidden" name="mode" value="confirm">
<input type="hidden" name="tab" value="devcount">
<input type="hidden" name="id" value="[#ID#]">
</form>
</td></tr>


<table border=0>
<tr><td>
<hr>


[#if METHOD="mp4"#]
[#begin FILES#]
<table border=0 width="[#SIZETHMB#]" style=" table-layout:fixed; float:left; margin:0 9px 0 0;" >
<tr><td>

<a rel="simplebox" href="../cms/cached/nvr/[#FILEMP4#]" target="_blank" title='[#JSON#]' >
<img src="../cms/cached/nvr/[#FILE#]" width="[#SIZETHMB#]" ></a> 
</td></tr>
<td>
<a href="?view_mode=copyfav&id=cms/cached/nvr/[#FILE#]&tab=devcount" class="btn btn-default" title="Добавить в избранное"><i class="glyphicon glyphicon-heart"></i></a>
<a  href="?view_mode=detect&id=/cms/cached/nvr/[#FILE#]&id2=[#ID#]&tab=devcount" target="_blank" title="[#JSON#]" >
[#if META=""#]..[#else#]<small><small>[#META#]</small></small>[#endif#]
</a>
</td></tr>

<tr><td>
<a  href="?view_mode=detecfaces&id=/cms/cached/nvr/[#FILE#]&id2=[#ID#]&tab=devcount" target="_blank" title="[#FACES#]" >
[#if FACES=""#]..[#else#]<small><small>[#FACES#]</small></small>[#endif#]
<!-- USER_ID (select) -->
</a>
</td></tr>



</table>
[#end FILES#]

[#endif#]

[#if METHOD="jpeg"#]
[#begin FILES#]
<table border=0 width="[#SIZETHMB#]" style=" table-layout:fixed; float:left; margin:0 9px 0 0;" >
<tr><td>
<a rel="simplebox" href="../cms/cached/nvr/[#FILE#]" target="_blank" title='[#META#]' >
<img src="../cms/cached/nvr/[#FILE#]" width="[#SIZETHMB#]" ></a> 
</td></tr>
<td>
<a  href="?view_mode=detect&id=/cms/cached/nvr/[#FILE#]&id2=[#ID#]&tab=devcount" target="_blank" title="[#JSON#]" >
[#if META=""#]..[#else#]<small><small>[#META#]</small></small>[#endif#]
</a>
</td></tr>
</table>
[#end FILES#]
[#endif#]


<tr><td>

<br><br>
<a href="?view_mode=clearfolder&id=[#ID#]&tab=" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Clear Folder">Clear Folder</i></a>
 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_CANCEL#></a>
</td>


</tr>
</table>
